
  .login-card td{
      padding: 0 10px;
  }

  .mat-card-header{
      text-align: center;
  }
  
  .full-width {
    width: 95%;
  }
  .fiveEvents{
    margin-bottom: 20px;
}
  .mat-button-toggle-group{
      width: 100% !important;    
  }
  
  .mat-button-toggle{
    width: 100%;
    margin: 5px; 
    border: 1px solid white;
    color: #299ADF;
}

.mat-button-toggle-checked {
    background-color: white;
    color: #299ADF !important;
    /* border: 1px solid #0087D9; */
}

.mat-button-toggle-checked .post-submitted-info, .mat-button-toggle-checked .fa-4x,
.mat-button-toggle-checked .name {
    background-color: white;
    color: #FD2C65 !important;
    /* border: 1px solid #0087D9; */
}
.fa-layers-text{
    color: white;
}
.fiveEvents .fa-4x{
    color: #299ADF;
}

/* .mat-button-toggle:hover {
  background-color: black;
  color: #299ADF;
  background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}  */

.mat-button-toggle:hover .post-submitted-info{
    
    color: #299ADF;
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  .mat-button-toggle:hover .fa-4x {
    background-color: white;
    color: #299ADF;
  }

/* #social li:hover a, #social li:hover .fa{
    color: #0087D9;
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
} */

.mat-button-toggle-label-content {
    line-height: 20px !important;
}

.eventStyle span{
    padding: 0px;
    display: block;
    padding-top: 5px;
}
/* .eventStyle .month, .eventStyle .year {
    font-size: 14px;
    text-transform: uppercase;
} */
.calendar-text { 
    margin-top: .3em !important; 
  }

.post-submitted-info {
    font-weight: 700;
    text-align: center;
    line-height: 1;
    top: 0;
    left: 0;
    color: #299ADF;
}
/* .post-submitted-info:hover{
    color: #0087D9;
} */

/* .submitted-date {
    margin-top: 12px;
} */
.submitted-date {
    margin: 10px 0 0 0;
    /* border-right: 1px solid #c2c2c2; */
    padding-bottom: 10px;
}

.submitted-info {
    font-weight: 700;
    text-align: center;
    line-height: 1;
    top: 0;
    left: 0;
}

.post-submitted-info .month, .post-submitted-info .year {
    font-size: 14px;
    text-transform: uppercase;
}

.post-submitted-info .month {
    margin-top: -1px;
}

.post-submitted-info .day {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 2px;
}

.post-submitted-info .year {
    font-size: 14px;
    text-transform: uppercase;
}

/* .fa-layers .month{
    font-weight: 700 !important;
    text-align: center;
    line-height: 1;
    
    font-size: 14px;
    text-transform: uppercase;
} */


/* .attendereg{
    margin-top: 20px;
} */

